pandas # Manipular datos 
numpy # cálculo numérico 
jupyter # Notebooks de experimentación 
matplotlib # Gráficos 
seaborn # Gráficos 
scikit-learn # Machine Learning 
transformers # Deep Learning 
torch  # Deep Learning
openpyxl # Leer Excel 